<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add-Section</title>
    <link rel="stylesheet" href="/static/add-section.css" />
    {% include 'bootstrap.html' %}
  </head>
  <body>
    <div>
      {% include 'header.html' %}
      <div>
        <h3>Issued Books</h3>
        <div class="main-container">
          {% for book in books %}
          <div class="section-container" id="1">
            <h2>{{book.BookId}} {{book.Title}}</h2>
            <p>Book Author : {{book.Author}}</p>
            <div>
              <p>Book Section : {{book.SectionId}}</p>
            </div>
            <button
              type="button"
              id="request{{book.BookId}}"
              class="btn btn-outline-warning"
            >
              Return
            </button>
          </div>
          {% include 'editBookPopup.html' %} {% include 'showBookPopup.html' %}
          {% endfor %}
        </div>

        <h3 class="second">Completed Books</h3>
        <div class="main-container">
          {% for book in books %}
          <div class="section-container" id="1">
            <h2>{{book.BookId}} {{book.Title}}</h2>
            <p>Book Author : {{book.Author}}</p>
            <div>
              <p>Book Section : {{book.SectionId}}</p>
            </div>
            <button
              type="button"
              id="request{{book.BookId}}"
              class="btn btn-outline-success"
            >
              Show
            </button>
          </div>
          {% include 'editBookPopup.html' %} {% include 'showBookPopup.html' %}
          {% endfor %}
        </div>
        {% include 'footer.html' %}
      </div>
    </div>
  </body>
</html>
