<!DOCTYPE html>
<html>
  <head>
    <title>Vue App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <header-component></header-component>
      <footer-component></footer-component>
    </div>
    <script>
      let app = Vue.createApp({});

      app.component("header-component", {
        template: `{% include 'headerAdmin.html' %}`,
      });

      app.component("footer-component", {
        template: `{% include 'footer.html' %}`,
      });
      app.mount("#app");
    </script>
  </body>
</html>
