body {
  background-color: #2d2a2e;
  margin: 0;
}

#addSection {
  border-radius: 60px;
  position: fixed;
  padding: 20px;
  right: 20px;
  top: 80px;
  margin: 8px;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.request-container {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.second {
  margin-top: -200px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 130px;
  align-items: flex-start;
  gap: 2em;
  margin: 20px;
  /* margin-bottom: 50px; */
}

.section-container {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 20%;
  flex-grow: 1;
}

.firstHeading {
  padding-top: 90px;
  padding-left: 100px;
  margin-bottom: -115px !important;
}

h3 {
  padding-left: 100px;
  margin-bottom: -115px !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}
/* 
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
} */

h1 {
  color: #0d6efd !important;
  text-align: center;
  background-color: aliceblue;
  padding: 3px;
  border-radius: 7px;
  border: solid 1px;
  border-color: #0d6efd;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #0d6efd;
  color: #000;
}

input,
textarea {
  margin-bottom: 20px;
}

input:focus,
textarea:focus {
  margin-bottom: 30px;
  border: solid 1px #0d6efd;
}

#current-date,
#current-section {
  padding-left: 15px;
  background-color: aliceblue;
  border: #0d6efd;
  border-radius: 10px;
  font-size: large;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.buttons {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 0 5px !important;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  padding-top: 15px;
  margin-left: 7px;
  color: #496cd5 !important;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup.show {
  display: block;
}

.popup-content {
  background-color: white;
  margin: 10% auto;
  padding: 60px;
  border: 1px solid #888888;
  width: 30%;
  font-weight: bolder;
  border-radius: 10px;
}

.popup-content button {
  display: block;
  margin: 0 auto;
}

.show {
  display: block;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section-container {
  position: relative;
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.rating-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.rating {
  display: flex;
  justify-content: flex-end;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 2.5rem;
  color: #555454;
  cursor: pointer;
}

.rating input:checked ~ label {
  color: gold;
}

.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}
