<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add-Section</title>
    <link rel="stylesheet" href="/static/add-section.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <header class="p-3 mb-1 border-bottom">
        <div class="container">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
          >
            <a
              href="/"
              class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
            >
              <svg
                class="bi me-2"
                width="40"
                height="32"
                role="img"
                aria-label="Bootstrap"
              >
                <use xlink:href="#bootstrap" />
              </svg>
            </a>

            <ul
              class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
            >
              <li>
                <a href="/requestedBooks" class="nav-link px-2 link-secondary"
                  >Requests</a
                >
              </li>
              <li>
                <a href="/showBooks" class="nav-link px-2 link-body-emphasis"
                  >All Books</a
                >
              </li>
              <li>
                <a href="/add-section" class="nav-link px-2 link-body-emphasis"
                  >Add Section</a
                >
              </li>
              <li>
                <a href="/adminStats" class="nav-link px-2 link-body-emphasis"
                  >Statistics</a
                >
              </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input
                type="search"
                class="form-control"
                placeholder="Search..."
                aria-label="Search"
                id="searchInput"
              />
            </form>
            <a href="/profile">
              <img
                src="/static/logo.jpg"
                alt="mdo"
                width="32"
                height="32"
                class="rounded-circle"
              />
            </a>
            <ul class="nav" style="margin-left: 40px">
              <li>
                <a href="/logout" class="nav-link px-2 link-secondary"
                  >Log Out</a
                >
              </li>
            </ul>
          </div>
        </div>
      </header>
      <div>
        <button
          type="button"
          id="addSection"
          class="btn btn-outline-primary"
          @click="showAddSectionPopup = true"
        >
          + Add<br />Section
        </button>
        <form
          v-if="showAddSectionPopup"
          id="addSectionPopup"
          class="popup show"
          action="/add-section"
          method="post"
        >
          <div class="popup-content">
            <h1>Add Section</h1>
            <div>
              <h4>Section</h4>
              <input
                type="text"
                name="section"
                placeholder="Section Name"
                required
              />
            </div>
            <div>
              <h4>Creation Date :</h4>
              <input type="hidden" name="date" :value="currentDate" required />
              <p id="current-date">{{ currentDate }}</p>
            </div>
            <div>
              <h4>Description</h4>
              <textarea
                name="text"
                id="Description"
                cols="50"
                rows="4"
                placeholder="Description"
              ></textarea>
            </div>
            <div class="buttons">
              <button class="btn btn-outline-primary" type="submit">
                save
              </button>
              <button
                class="btn btn-primary"
                @click.prevent="showAddSectionPopup = false"
              >
                Close
              </button>
            </div>
          </div>
        </form>
        <div class="main-container">
          {% if section %} {% for sec in section %}
          <div class="section-container" id="{{ sec.SectionId }}">
            <h2>{{ sec.Title }}</h2>
            <p>Date Created: {{ sec.CreatedDate }}</p>
            <div>
              <p>Description</p>
              <p>{{ sec.Description }}</p>
            </div>
            <button
              type="button"
              id="addBook{{ sec.SectionId }}"
              class="btn btn-primary"
              @click="toggleAddBookPopup('{{ sec.SectionId }}')"
            >
              + Books
            </button>
            <button
              type="button"
              id="editSection{{sec.SectionId}}"
              class="btn btn-outline-secondary"
              @click="toggleEditSectionPopup('{{ sec.SectionId }}')"
            >
              Edit
            </button>
            <form
              action="{{ url_for('deleteSection', sectionId=sec.SectionId) }}"
              method="post"
              style="display: inline"
            >
              <button type="submit" class="btn btn-outline-danger">
                Delete
              </button>
            </form>
          </div>
          <form
            v-if="showAddBookPopup['{{ sec.SectionId }}']"
            id="addBookPopup{{ sec.SectionId }}"
            class="popup show"
            action="/showBooks"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="popup-content">
              <h1>Add Books</h1>
              <div>
                <h4>Book Title :</h4>
                <input
                  type="text"
                  name="Book-Title"
                  placeholder="Book Name"
                  required
                />
              </div>
              <div>
                <h4>Author :</h4>
                <input
                  type="text"
                  name="Author"
                  placeholder="Author Name"
                  required
                />
              </div>
              <div>
                <h4>Content :</h4>
                <input
                  type="text"
                  name="Content"
                  placeholder="About this book"
                />
              </div>
              <div>
                <h4>Book Section :</h4>
                <input
                  type="hidden"
                  name="book_section"
                  value="{{ sec.SectionId }}"
                />
                <p id="current-section">{{ sec.Title }}</p>
                <h4>Add Book :</h4>
                <input type="file" name="file" accept=".pdf" required />
                <h4>Add Image :</h4>
                <input
                  type="file"
                  name="bookCover"
                  accept=".png, .jpeg, .jpg"
                  required
                />
              </div>
              <div class="buttons">
                <button class="btn btn-outline-primary" type="submit">
                  save
                </button>
                <button
                  class="btn btn-primary"
                  @click.prevent="toggleAddBookPopup('{{ sec.SectionId }}')"
                >
                  Close
                </button>
              </div>
            </div>
          </form>
          <form
            v-if="showEditSectionPopup['{{ sec.SectionId }}']"
            id="editSectionsPopup{{ sec.SectionId }}"
            class="popup show"
            action="/updateSections/{{ sec.SectionId }}"
            method="post"
          >
            <div class="popup-content">
              <h1>Edit Section</h1>
              <div>
                <h4>Section</h4>
                <input
                  type="text"
                  name="section"
                  placeholder="Section Name"
                  value="{{ sec.Title }}"
                  required
                />
              </div>
              <div>
                <h4>Description</h4>
                <textarea
                  name="description"
                  cols="50"
                  rows="4"
                  placeholder="Description"
                >
{{ sec.Description }}</textarea
                >
              </div>
              <div class="buttons">
                <button class="btn btn-outline-primary" type="submit">
                  save
                </button>
                <button
                  class="btn btn-primary"
                  @click.prevent="toggleEditSectionPopup('{{ sec.SectionId }}')"
                >
                  Close
                </button>
              </div>
            </div>
          </form>
          {% endfor %} {% else %}
          <p>No sections available.</p>
          {% endif %}
        </div>
      </div>
      <div class="container">
        <p style="text-align: center; color: red">{{message}}</p>
        <footer class="py-3 my-4">
          <p class="text-center text-body-secondary">&copy; 2024 BookStop</p>
        </footer>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          showAddSectionPopup: false,
          showEditSectionPopup: {},
          showAddBookPopup: {},
          currentDate: "",
        },
        created() {
          const d = new Date();
          const options = { day: "2-digit", month: "2-digit", year: "numeric" };
          this.currentDate = d.toLocaleDateString("en-GB", options);
        },
        methods: {
          toggleAddBookPopup(sectionId) {
            this.$set(
              this.showAddBookPopup,
              sectionId,
              !this.showAddBookPopup[sectionId]
            );
          },
          toggleEditSectionPopup(sectionId) {
            this.$set(
              this.showEditSectionPopup,
              sectionId,
              !this.showEditSectionPopup[sectionId]
            );
          },
        },
      });
    </script>
  </body>
</html>
