<form
  id="editBooksPopup{{book.Books_BookId}}"
  class="popup"
  action="/updateBooks/{{book.Books_BookId}}"
  method="post"
>
  <div class="popup-content">
    <h1>Edit Books</h1>
    <div>
      <h4>Book Title :</h4>
      <input
        type="text"
        name="Title"
        placeholder="{{book.Books_Title}}"
        required
      />
    </div>
    <div>
      <h4>Author :</h4>
      <input
        type="text"
        name="Author"
        placeholder="{{book.Books_Author}}"
        required
      />
    </div>
    <div>
      <h4>Content :</h4>
      <input type="text" name="Content" placeholder="Link" required />
    </div>
    <div>
      <h4>Book Section :</h4>
      <p id="current-section">{{book.Section_Title}}</p>
    </div>
    <div class="buttons">
      <button class="btn btn-outline-primary" type="submit">save</button>
      <button
        class="btn btn-primary"
        id="closeEditBooksPopup{{book.Books_BookId}}"
      >
        Close
      </button>
    </div>
  </div>
</form>
