<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add-Section</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/static/add-section.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <header-component></header-component>
      <div>
        <h3 class="firstHeading">Currently Issued Books</h3>
        <div class="main-container">
          {% for book in approvedBooks %}
          <div class="section-container" id="1">
            <h2>Book Name : {{book.Book_Title}}</h2>
            <p>Request Date : {{book.RequestDate}}</p>
            <p>Book Author : {{book.Author}}</p>
            <p>Request Days : {{book.Days}}</p>
            <p>
              Book Link :
              <a href="{{ url_for('download_book', filename=book.Book_Link) }}"
                >Show Book</a
              >
            </p>
            <div>
              <p>Book Section : {{book.Section_Title}}</p>
            </div>

            <form action="/myBooks" method="post" style="display: inline">
              <input type="hidden" name="id" value="{{book.IssueId}}" />
              <input type="hidden" name="status" value="Expired" />
              <button type="submit" class="btn btn-dark">Return</button>
            </form>
          </div>
          {% endfor %}
        </div>

        <h3>Completed Books</h3>
        <div class="main-container">
          {% for book in expiredBooks %}
          <div class="section-container" id="book_{{book.BookId}}">
            <div class="rating-container">
              <form
                id="ratingForm_{{book.BookId}}"
                action="/submit_rating"
                method="POST"
              >
                <input type="hidden" name="bookId" value="{{book.BookId}}" />
                <div class="rating">
                  <input
                    type="radio"
                    id="star5_{{book.BookId}}"
                    name="rating"
                    value="5"
                    onclick="submitRating('{{book.BookId}}', this.value)"
                  />
                  <label for="star5_{{book.BookId}}" title="5 stars">☆</label>
                  <input
                    type="radio"
                    id="star4_{{book.BookId}}"
                    name="rating"
                    value="4"
                    onclick="submitRating('{{book.BookId}}', this.value)"
                  />
                  <label for="star4_{{book.BookId}}" title="4 stars">☆</label>
                  <input
                    type="radio"
                    id="star3_{{book.BookId}}"
                    name="rating"
                    value="3"
                    onclick="submitRating('{{book.BookId}}', this.value)"
                  />
                  <label for="star3_{{book.BookId}}" title="3 stars">☆</label>
                  <input
                    type="radio"
                    id="star2_{{book.BookId}}"
                    name="rating"
                    value="2"
                    onclick="submitRating('{{book.BookId}}', this.value)"
                  />
                  <label for="star2_{{book.BookId}}" title="2 stars">☆</label>
                  <input
                    type="radio"
                    id="star1_{{book.BookId}}"
                    name="rating"
                    value="1"
                    onclick="submitRating('{{book.BookId}}', this.value)"
                  />
                  <label for="star1_{{book.BookId}}" title="1 star">☆</label>
                </div>
              </form>
            </div>
            <h2>Book Name : {{book.Book_Title}}</h2>
            <p>Request Date : {{book.RequestDate}}</p>
            <p>Book Author : {{book.Author}}</p>
            <p>Request Days : {{book.Days}}</p>
            <div>
              <p>Book Section : {{book.Section_Title}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <script>
          function submitRating(bookId, ratingValue) {
            console.log(`Submitting rating ${ratingValue} for book ${bookId}`);

            const form = document.getElementById(`ratingForm_${bookId}`);
            const ratingInput = form.querySelector('input[name="rating"]');
            ratingInput.value = ratingValue;

            form.submit();
          }
        </script>

        <h3>Requested Books</h3>
        <div class="main-container">
          {% for book in issueBooks %}
          <div class="section-container" id="1">
            <h2>Book Name : {{book.Book_Title}}</h2>
            <p>Request Date : {{book.RequestDate}}</p>
            <p>Book Author : {{book.Author}}</p>
            <p>Request Days : {{book.Days}}</p>
            <div>
              <p>Book Section : {{book.Section_Title}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <h3>Request Rejected Books</h3>
        <div class="main-container">
          {% for book in rejectedBooks %}
          <div class="section-container" id="1">
            <h2>Book Name : {{book.Book_Title}}</h2>
            <p>Request Date : {{book.RequestDate}}</p>
            <p>Book Author : {{book.Author}}</p>
            <p>Request Days : {{book.Days}}</p>
            <div>
              <p>Book Section : {{book.Section_Title}}</p>
            </div>

            <form action="/myBooks" method="post" style="display: inline">
              <input type="hidden" name="id" value="{{book.IssueId}}" />
              <input type="hidden" name="status" value="requested" />
              <button type="submit" class="btn btn-primary">
                Request Again
              </button>
            </form>
          </div>
          {% endfor %}
        </div>
        <form action="/sendCSV" method="post" class="row gy-3 gy-xxl-4">
          <button type="submit" class="btn btn-primary">Download CSV</button>
        </form>
        <footer-component></footer-component>
      </div>
      <script>
        let app = Vue.createApp({});

        app.component("header-component", {
          template: `{% include 'header.html' %}`,
        });

        app.component("footer-component", {
          template: `{% include 'footer.html' %}`,
        });
        app.mount("#app");
      </script>
    </div>
  </body>
</html>
