<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add-Section</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/static/add-section.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <header-component></header-component>
      <div>
        <div class="main-container">
          {% for book in books %}
          <div class="section-container" id="1">
            <h2>{{book.Books_Title}}</h2>
            <img
              src="{{book.Books_ImageLink}}"
              alt="Book Image"
              style="max-width: 100%; height: auto"
            />
            <p>Book Author : {{book.Books_Author}}</p>
            <p>
              Book Link :
              <a
                href="{{ url_for('download_book', filename=book.Books_ImageLink) }}"
                >Show Book</a
              >
            </p>
            <div>
              <p>Book Section : {{book.Section_Title}}</p>
            </div>
            <button
              type="button"
              id="showBook{{book.BookId}}"
              class="btn btn-outline-primary"
            >
              Show
            </button>
            <button
              type="button"
              id="editBooks{{book.Books_BookId}}"
              class="btn btn-outline-secondary"
            >
              Edit
            </button>

            <form
              action="{{ url_for('deleteBook', bookId=book.Books_BookId) }}"
              method="post"
              style="display: inline"
            >
              <button type="submit" class="btn btn-outline-danger">
                Delete
              </button>
            </form>
          </div>
          <form
            id="editBooksPopup{{book.Books_BookId}}"
            class="popup"
            action="/updateBooks/{{book.Books_BookId}}"
            method="post"
          >
            <div class="popup-content">
              <h1>Edit Books</h1>
              <div>
                <h4>Book Title :</h4>
                <input
                  type="text"
                  name="Title"
                  placeholder="{{book.Books_Title}}"
                  required
                />
              </div>
              <div>
                <h4>Author :</h4>
                <input
                  type="text"
                  name="Author"
                  placeholder="{{book.Books_Author}}"
                  required
                />
              </div>
              <div>
                <h4>Content :</h4>
                <input type="text" name="Content" placeholder="Link" required />
              </div>
              <div>
                <h4>Book Section :</h4>
                <p id="current-section">{{book.Section_Title}}</p>
              </div>
              <div class="buttons">
                <button class="btn btn-outline-primary" type="submit">
                  save
                </button>
                <button
                  class="btn btn-primary"
                  id="closeEditBooksPopup{{book.Books_BookId}}"
                >
                  Close
                </button>
              </div>
            </div>
          </form>
          <div id="showBooksPopup{{book.BookId}}" class="popup">
            <div class="popup-content">
              <h1>History Book class 10</h1>
              <div id="current-section">
                <h4>Book Title : {{book.Books_Title}}</h4>
                <h4>Book Author : {{book.Books_Author}}</h4>
                <h4>Book Section : {{book.Section_Title}}</h4>
                <h4>
                  Link :
                  <a
                    href="{{ url_for('download_book', filename=book.Books_ImageLink) }}"
                    >Show Book</a
                  >
                </h4>
                <div class="buttons">
                  <button
                    class="btn btn-primary"
                    id="closeShowBooksPopup{{book.BookId}}"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <footer-component></footer-component>
      </div>
    </div>
    <script>
      let app = Vue.createApp({});

      app.component("header-component", {
        template: `{% include 'headerAdmin.html' %}`,
      });

      app.component("footer-component", {
        template: `{% include 'footer.html' %}`,
      });
      app.mount("#app");
    </script>
    <script>
      const mainContainer = document.querySelector(".main-container");
      mainContainer.addEventListener("click", function (event) {
        if (event.target.matches('[id^="showBook"]')) {
          const sectionId = event.target.id.replace("showBook", "");
          const popupId = `showBooksPopup${sectionId}`;
          const showBooksPopup = document.getElementById(popupId);
          if (showBooksPopup) {
            showBooksPopup.classList.toggle("show");
          }
        } else if (event.target.matches('[id^="closeShowBooksPopup"]')) {
          const closeButton = event.target;
          const popup = closeButton.closest(".popup");
          if (popup) {
            popup.classList.remove("show");
          }
        } else if (event.target.matches('[id^="editBooks"]')) {
          const sectionId = event.target.id.replace("editBooks", "");
          const popupId = `editBooksPopup${sectionId}`;
          const editBooksPopup = document.getElementById(popupId);
          if (editBooksPopup) {
            editBooksPopup.classList.toggle("show");
          }
        } else if (event.target.matches('[id^="closeEditBooksPopup"]')) {
          const closeButton = event.target;
          const popup = closeButton.closest(".popup");
          if (popup) {
            popup.classList.remove("show");
          }
        }
      });
    </script>
  </body>
</html>
